{% extends "list_base.html" %}
{% load i18n staticfiles %}

{% block left_panel %}
<ul class="nav nav-pills nav-stacked">
  <li class="active"><a href="{% url "accounts.companies" %}">{% trans "Enterprise Info" %}</a></li>
</ul>
{% endblock %}

{% block list %}
<table class="table table-hover">
    <thead>
        <th>{% trans "Company" %}</th>
        <th>{% trans "Username" %}</th>
        <th>{% trans "Location" %}</th>
        <th>{% trans "contact" %}</th>
        <th>{% trans "phone" %}</th>
    </thead>
    {% for p in companies %}
        <tr>
            <td><a href="{% url  'enterprise.company' p.user.id%}">{{ p.company }}</a></td>
            <td>{{ p.user.username }}</td>
            <td>{{ p.location }}</td>
            <td>{{ p.contact }}</td>
            <td>{{ p.phone }}</td>
        </tr>
    {% endfor %}
</table>
{% endblock %}
