{% extends "enterprise_base.html" %}

{% block main %}
    <div>
    {{ block.super }}
    <form method="post"  role="form" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="form-actions">
            {% block account_form_actions %}
            <input class="btn btn-success btn-small form-control" type="submit" value="{{ title }}">
            {% endblock %}
        </div>
    </form>
    </div>
{%  endblock %}

{% block extra_js %}
    {{ block.super }}
    <script>
    $(document).ready(function() {
        // Event listener to the two range filtering inputs to redraw on input
        $('#id_PrjNum').blur( function() {
            var prjNum = $('#id_PrjNum').val();
            console.log(prjNum);
            $.get('{% url "enterprise.project.sk" %}', {'prjNum': prjNum}, function (data){
                            console.log(data);
                var status = data.status;
                if (status == 'OK'){
                    $('#id_name').val(data.name);
                    $('#id_area').val(data.area);
                    $('#id_cost').val(data.cost);
                    $('#id_owner').val(data.construct_company);
                    $('#id_begin_date').val(data.begin_date);
                    $('#id_end_date').val(data.end_date);
                    $('#id_location').val(data.location);
                    $('#id_construct_company').val("{{ enterprise }}");
                } else {
                    alert("项目编码不存在!");
                    $('#id_name').val('');
                    $('#id_area').val('');
                    $('#id_cost').val('');
                    $('#id_owner').val('');
                    $('#id_begin_date').val('');
                    $('#id_end_date').val('');
                    $('#id_location').val('');
                }

            });

        } );
    } );
    </script>
{% endblock %}