{% extends "base.html" %}
{% load i18n staticfiles%}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'reveal.js/css/reveal.min.css' %}">
    <link rel="stylesheet" href="{% static 'reveal.js/css/theme/default.css' %}" id="theme">
    <link rel="stylesheet" href="{% static 'medium-editor/dist/css/medium-editor.min.css' %}"> <!-- Core -->
    <link rel="stylesheet" href="{% static 'medium-editor/dist/css/themes/default.min.css' %}"> <!-- or any other theme -->
{% endblock %}

{% block extra_js %}
    <script src="{% static 'reveal.js/lib/js/head.min.js' %}"></script>
    <script src="{% static 'reveal.js/js/reveal.min.js' %}"></script>
    <script src="{% static 'medium-editor/dist/js/medium-editor.min.js' %}"></script>

    <script>
    $(document).ready(function(){
        Reveal.initialize({
				history: true,
				transition: 'linear',
                // Display controls in the bottom right corner
                controls: true,

                // Display a presentation progress bar
                progress: true,
                // Transition style
                transition: 'default', // default/cube/page/concave/zoom/linear/fade/none,

				math: {
					// mathjax: 'http://cdn.mathjax.org/mathjax/latest/MathJax.js',
					config: 'TeX-AMS_HTML-full'
				},

				dependencies: [
					{ src: "{% static 'reveal.js/lib/js/classList.js' %}" },
					{ src: "{% static 'reveal.js/plugin/math/math.js' %}" , async: true }
				]
			});

        var elements = document.querySelectorAll('.editable'),
        editor = new MediumEditor(elements);

        $('.editable').on('input', function() {
          // Do some work
            console.log($(this).html());
        });

    });

    </script>
{% endblock %}

{% block content %}
    <div class="reveal">
        <div class="slides">
            <section>
                <h1>{% trans "Project General" %}</h1>
                <p class="editable">{{ review.general }}</p>
            </section>
            <section class="editable">
                <h1>{% trans "Project Characteristic" %}</h1>
                <p class="editable">{{ review.characteristic }}</p>
            </section>
            <section>
                <h1>{% trans "Construction Management" %}</h1>
                <p class="editable">{{ review.construct_management }}</p>
            </section>
            <section>
                <h1>{% trans "Enviroment Protection Meature" %}</h1>
                <p class="editable">{{ review.env_protection_measure }}</p>
            </section>
            <section>
                <section>
                    <h1>{% trans "economize on raw materials" %}</h1>
                    <p class="editable">{{ review.economize_materials }}</p>
                </section>
                <section>
                    <h1>{% trans "economize on water" %}</h1>
                    <p class="editable">{{ review.economize_waters }}</p>
                </section>
                <section>
                    <h1>{% trans "economize on power" %}</h1>
                    <p class="editable">{{ review.economize_powers }}</p>
                </section>
                <section>
                    <h1>{% trans "economize on land" %}</h1>
                    <p class="editable">{{ review.economize_land }}</p>
                </section>
            </section>
            <section>
                <section>
                    <h1>{% trans "New Technology" %}</h1>
                    <p class="editable">{{ review.new_technology }}</p>
                </section>
                <section>
                    <h1>{% trans "New Equipment" %}</h1>
                    <p class="editable">{{ review.new_equipment }}</p>
                </section>
                <section>
                    <h1>{% trans "New Materials and  Craft" %}</h1>
                    <p class="editable">{{ review.new_craft }}</p>
                </section>
            </section>
            <section>
                <h1>{% trans "industrialization of construction industry" %}</h1>
                <p class="editable">{{ review.industrialization }}</p>
            </section>
            <section>
                <h1>{% trans "comprehensive benefit" %}</h1>
                <p class="editable">{{ review.comprehensive_benefit }}</p>
            </section>
        </div>
    </div>
{% endblock %}