{% extends "project_base.html" %}
{% load i18n staticfiles project_filters%}

{% block extra_js %}
    {{ block.super }}
    <script src="{% static 'jquery-cookie/jquery.cookie.js' %}"></script>
    <script src="{% static 'handlebars/handlebars.min.js' %}"></script>
    <script src="{% static 'chartjs/Chart.js' %}"></script>
    <script id="row-template" type="text/x-handlebars-template">
    {% verbatim %}
        <tr style="background-color: green">
            <td>{{ user }}</td>
            <td>{{ passed }}</td>
            <td>{{ date }}</td>
        </tr>
    {% endverbatim %}
    </script>
    <script>
    "use strict"
    var thumbsUp = 0;
    var thumbsDown = 0;
    var notYetVoted = 0;

    $(document).ready(function(){
        var csrf_token = $.cookie('csrftoken');
        //show date as string with django date filter format
        var finishVoteDate = "{{ project.finish_vote_date |date:"Y-m-jTH:m:s"}}"
        console.log(finishVoteDate);
        var finishDateMills = Date.parse(finishVoteDate);
        console.log(finishDateMills);
        if (isNaN(finishDateMills)){
            $("#result").hide();
            $("#vote").hide();
        } else if (finishDateMills>Date.now()){
            $("#vote").show();
        } else{
            $("#vote").hide();
        }

    function selection(passed){
                    $.post("{% url 'enterprise.project.selection' project_id%}",{user:"{{ user }}",thumbsUp:passed, csrfmiddlewaretoken:csrf_token},
                    function(data){
{#                        console.log(data);#}
{#                        console.log(data[0]['fields']['date']);#}
                        var passed = data[0]['fields']['passed'];
                        console.log(passed);
                        console.log(typeof(passed));
                        var source   = $("#row-template").html();
                        var template = Handlebars.compile(source);
                        var context = {user: "{{ user }}", passed: passed, date: data[0]['fields']['date']}
                        var html    = template(context);
{#                        console.log(html);#}
                        $('.table > tbody:last').append(html);
                        if (passed){
                            thumbsUp += 1;
                            pieChart.segments[1].value = thumbsUp;
                        } else{
                            thumbsDown += 1;
                            pieChart.segments[0].value = thumbsDown;
                        }
                        pieChart.update();
            })
    }

        $("#thumbsUp").click(function(){
            selection(true);
{#            $.post("{% url 'enterprise.project.selection' project_id%}",{user:"{{ user }}",thumbsUp:true, csrfmiddlewaretoken:csrf_token},#}
{#                    function(data){#}
{#                        console.log(data);#}
{#                        console.log(data[0]['fields']['date']);#}
{#                        console.log(data[0]['fields']['passed']);#}
{#                        var source   = $("#row-template").html();#}
{#                        var template = Handlebars.compile(source);#}
{#                        var context = {user: "{{ user }}", passed: data[0]['fields']['passed'], date: data[0]['fields']['date']}#}
{#                        var html    = template(context);#}
{#                        console.log(html);#}
{#                        $('.table > tbody:last').append(html);#}
{#            })#}
        })

        $("#thumbsDown").click(function(){
            selection(false);
{#            $.post("{% url 'enterprise.project.selection' project_id%}",{user:"{{ user }}",thumbsUp:false, csrfmiddlewaretoken:csrf_token},#}
{#                    function(data){#}
{#                        console.log(data);#}
{#            })#}
        })

        var data = [
            {
                value: thumbsDown,
                color:"#FF4136",
                highlight: "#FF5A5E",
                label: "反对"
            },
            {
                value: thumbsUp,
                color: "#2ECC40",
                highlight: "#46BFBD",
                label: "赞成"
            },
            {
                value: notYetVoted,
                color: "#FFDC00",
                highlight: "#FFC870",
                label: "未投票"
            }
        ];
        var ctx = document.querySelector("#selectionChart").getContext("2d");
        var pieChart = new Chart(ctx).Pie(data, {responsive:true});
{#        console.log(selected);#}
    });
    </script>
{% endblock %}

{% block project_main %}
    {% trans "Vote Result" %}:{{ project_id|vote_result }}<br>

    <div id="result">
        <span>{% trans "Finish Vote Date" %}:{{ project.finish_vote_date |date:"Y年m月j日" }}</span>
        <canvas id="selectionChart" width="100" height="30"></canvas>
    </div>
    <div id="vote">
        <a id="thumbsUp" class="btn btn-primary" href="#">
            <i class="fa fa-thumbs-o-up fa-2x pull-left"></i> {% trans "Thumbs Up" %}
        </a>
        <a id="thumbsDown" class="btn btn-primary" href="#">
            <i class="fa fa-thumbs-o-down fa-2x pull-left"></i>{% trans "Thumbs Down" %}
        </a>
    </div>

<table class="table table-hover table-bordered">
    <thead>
        <th>{% trans "User" %}</th>
        <th>{% trans "Vote Status" %}</th>
        <th>{% trans "Date" %}</th>
    </thead>
    <tbody>
        {% for p in selections %}
            {% if p.user.username == user.username %}
                <tr style="background-color: green">
            {% else %}
                <tr>
            {% endif %}
                <td>{{ p.user.username }}</td>
                <td>{{ p.passed |vote_state:p.date}}</td>
            {% if p.passed %}
                <script>
                    thumbsUp++;
                </script>
            {% elif p.date%}
                <script>
                    thumbsDown++;
                </script>
            {% else %}
                <script>
                    notYetVoted++;
                </script>
            {% endif %}

                <td>{{ p.date |date:"Y年m月j日G:i"}}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>



{% endblock %}