{% extends "enterprise_base.html" %}
{% load i18n %}

{% block main %}
<ul class="nav nav-pills">
    <li><a href="{% url "enterprise.project.detail" submission.project.id%}">{% trans "Project Summary"%}</a></li>
    <li><a href="{% url "enterprise.project.submission" submission.id%}">{% trans "Submission"%}</a></li>
    <li><a href="{% url "enterprise.reviews" %}">{% trans "Application Review"%}</a></li>
    <li><a href="{% url "enterprise.reviews" %}">{% trans "Self Evaluation"%}</a></li>
    <li><a href="{% url "enterprise.reviews" %}">{% trans "Process Monitor"%}</a></li>
    <li><a href="{% url "enterprise.reviews" %}">{% trans "Selection"%}</a></li>
</ul>

    <div class="container">
        <label>{% trans "Project" %}</label><p>{{ submission.project.name }}<br></p>
        <label>{% trans "Grade" %}</label><p>{{ submission.grade }}<br></p>
    </div>
{% endblock %}