{% extends "list_base.html" %}
{% load i18n staticfiles%}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'hint.css/hint.min.css' %}">
    <link rel="stylesheet" href="{% static 'jquery/jquery.qtip.min.css' %}">
{% endblock %}

{% block extra_js %}
    <script src="{% static 'peity/jquery.peity.min.js' %}"></script>
    <script src="{% static 'jquery/jquery.qtip.min.js' %}"></script>
    <script>
    $(document).ready(function(){
        $('.detail').each(function() {
{#             $(this).qtip({#}
{#                 content: {#}
{#                     text: $('.tooltiptext')#}
{#                 }#}
{#             });#}

            $(this).qtip({
            content: {
                text: function(event, api) {
                    $.ajax({
                        url: api.elements.target.attr('href') // Use href attribute as URL
                    })
                    .then(function(content) {
                        // Set the tooltip content upon successful retrieval
                        api.set('content.text', content);
                    }, function(xhr, status, error) {
                        // Upon failure... set the tooltip content to error
                        api.set('content.text', status + ': ' + error);
                    });

                    return 'Loading...'; // Set some initial text
                }
            },
            position: {
                viewport: $(window)
            },
            style: 'qtip-wiki'
         });

        $("span.pie").peity("pie");
         });

    });

    </script>
{% endblock %}

{% block list %}
<table class="table table-hover table-bordered">
    <thead>
        <th>{% trans "Project" %}</th>
        <th>{% trans "Location" %}</th>
        <th>{% trans "Progress" %}</th>
    </thead>
    {% for p in projects %}
        <tr>
            <td><a href="{%  url 'enterprise.project.detail' p.id %}" class="hint--right" data-hint="{% trans 'Detail' %}">{{ p.name }}</a></td>
            <td>{{ p.location }}</td>
            <td>
                <div class="progress">
                  <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                    <a href="{% url 'enterprise.project.progress' p.id %}" class="detail">{% trans "Detail" %}</a>
                  </div>
                </div>
            </td>
        </tr>
    {% endfor %}
</table>
{% endblock %}
