{% extends "project_base.html" %}
{% load i18n staticfiles project_filters%}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'vex/css/vex.css' %}">
    <link rel="stylesheet" href="{% static 'vex/css/vex-theme-os.css' %}">
    <link rel="stylesheet" href="{% static 'ladda/dist/ladda.min.css' %}">
{% endblock %}

{% block extra_js %}
    <script src="{% static 'ladda/dist/spin.min.js' %}"></script>
    <script src="{% static 'ladda/dist/ladda.min.js' %}"></script>
    <script src="{% static 'jspdf/dist/jspdf.min.js' %}"></script>
    <script src="{% static 'jquery-cookie/jquery.cookie.js' %}"></script>
    <script src="{% static 'vex/js/vex.combined.min.js' %}"></script>
    <script>vex.defaultOptions.className = 'vex-theme-os';</script>

    <script>
    //Best to attach onclick event in jQuery ready() function like this
    $(document).ready(function(){
        var l = Ladda.create( document.querySelector( '#approve' ) );


        $("#approve").click(function(){
            // Start loading
            l.start();
            l.setProgress( 0.5 );

            var csrf_token = $.cookie('csrftoken');
                 $.post("{% url 'enterprise.review.approve' review.id%}",{project_id:"{{ review.id }}", csrfmiddlewaretoken:csrf_token},
                    function(data){
                        $("#approved").text("{% trans 'Approved' %}")
                        l.stop();
            })

        });

        $("#deny").click(function(){
            vex.dialog.prompt({
              message:"{% trans 'Please input reject reason:' %}",
              placeholder: "{% trans 'Reject Reason' %}",
              callback: function(value) {
                if (value === false) {
                  return console.log('Cancelled');
                }
                var csrf_token = $.cookie('csrftoken');
                $.post("{% url 'enterprise.review.deny'  review.id%}",{ csrfmiddlewaretoken:csrf_token},
                        function(data){
                            $("#approved").text("{% trans 'Deny' %}")
                })
              }
            });

        });
    });

    </script>
{% endblock %}

{% block project_main %}
{% if review.id != 99999 %}
<div class="container">
    <label>{% trans "Project" %}</label><p>{{ review.project.name }}<br></p>
    <label>{% trans "Grade" %}</label><p>{{ review.grade }}<br></p>
    <label>{% trans "Approved" %}</label><p id="approved">{{ review.approved }}<br></p>
    <label>{% trans "Achievement" %}</label>
<div>
<div>
    <video id="example_video_1"
      controls preload="auto" width="640" height="200"
      poster="/static/images/oceans-clip.png">
     <source src="/media/{{ review.achievement }}" type='video/mp4' />
     <source src="http://video-js.zencoder.com/oceans-clip.webm" type='video/webm' />
     <source src="http://video-js.zencoder.com/oceans-clip.ogv" type='video/ogg' />
     <p>To view this video please enable JavaScript, and consider upgrading to a web browser that
         <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
     </p>
    </video>
</div>
    <div>
        <a target="_blank" href="{{ MEDIA_URL }}/review/{{ review.id }}.pdf" class="btn btn-primary">{% trans "Preview" %}</a>
        <button id="approve" class="ladda-button" data-style="expand-right" data-size="s" data-color="blue"><span class="ladda-label">{% trans "Approve" %}</span></button>
        <a href="#" id="deny" class="btn btn-primary">{% trans "Deny" %}</a>
    </div>
{% endif %}
</div>
</div>
{% endblock %}