{% extends "list_base.html" %}
{% load i18n staticfiles project_filters %}

{% block extra_css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'hint.css/hint.min.css' %}">
    <link rel="stylesheet" href="{% static 'jquery/jquery.qtip.min.css' %}">
    <link rel="stylesheet" href="{% static 'vex/css/vex.css' %}">
    <link rel="stylesheet" href="{% static 'vex/css/vex-theme-os.css' %}">
    <link rel="stylesheet" href="{% static 'datatables/media/css/jquery.dataTables.css' %}">
{% endblock %}

{% block extra_js %}
    {{ block.super }}
    <script src="{% static 'peity/jquery.peity.min.js' %}"></script>
    <script src="{% static 'jquery/jquery.qtip.min.js' %}"></script>
    <script src="{% static 'vex/js/vex.combined.min.js' %}"></script>
    <script>vex.defaultOptions.className = 'vex-theme-os';</script>
    <script src="{% static 'jquery-cookie/jquery.cookie.js' %}"></script>
    <script src="{% static 'datatables/media/js/jquery.dataTables.js' %}"></script>
    <script src="{% static 'chartjs/Chart.js' %}"></script>
    <script>
    $(document).ready(function(){
        //show table
        var table = $('#table').DataTable();
        var selected = [];

        $('#table tbody').on( 'click', 'tr', function () {
            $(this).toggleClass('selected');
            var id = $(this).data("rowKey");
            var index = $.inArray(id, selected);
            if ( index === -1 ) {
                selected.push( id );
            } else {
                selected.splice( index, 1 );
            }
            console.log(selected);
        } );


        $('.detail').each(function() {
{#             $(this).qtip({#}
{#                 content: {#}
{#                     text: $('.tooltiptext')#}
{#                 }#}
{#             });#}

            $(this).qtip({
            content: {
                text: function(event, api) {
                    $.ajax({
                        url: api.elements.target.attr('href') // Use href attribute as URL
                    })
                    .then(function(content) {
                        // Set the tooltip content upon successful retrieval
                        api.set('content.text', content);
                    }, function(xhr, status, error) {
                        // Upon failure... set the tooltip content to error
                        api.set('content.text', status + ': ' + error);
                    });

                    return 'Loading...'; // Set some initial text
                }
            },
            position: {
                viewport: $(window)
            },
            style: 'qtip-wiki'
         });

        $("span.pie").peity("pie");
         });

        $("#modify").click(function(){
            //a trick to pass JS variable to django url template tag
            var url = "{% url 'enterprise.project.update' pk=99999 %}";
            url = url.replace(/99999/, selected[0]);
            window.location.href = url;
{#            window.open("{% url "enterprise.project.update" pk=1 %}",'_parent'); //Also works            #}
        });

        $("#delete").click(function() {
            console.log("delete now");

            vex.dialog.confirm({
              message:"{% trans 'Are you sure to delete this project?' %}",
              callback: function(value) {
                if (value === false) {
                  return console.log('Cancelled');
                }
            var csrf_token = $.cookie('csrftoken');
            $.post("{% url 'enterprise.project.delete'%}",{project_id:"{{ submission.id }}", csrfmiddlewaretoken:csrf_token},
                    function(data){
                console.log(data);
            })
                return console.log('Username', data.code, 'Password', data.amount);
              }
            });
        });

        var data2 = {
            labels: ["申报创建", "应用评审", "总结报告", "影像资料", "评价表", "考评评选"],
            datasets: [
                {
                    label: "Project Progress Chart",
                    fillColor: "rgba(151,187,205,0.2)",
                    strokeColor: "rgba(151,187,205,1)",
                    pointColor: "rgba(151,187,205,1)",
                    pointStrokeColor: "#fff",
                    pointHighlightFill: "#fff",
                    pointHighlightStroke: "rgba(151,187,205,1)",
{#                    data: [100, 100, 100, 0, 0, 0]#}
                }
            ]
        };

{#        var data3 = Object.create(data2);#}
{#        data3.datasets[0].data=[100, 50, 100, 0, 0, 0]#}
{#        console.log(data3);#}

{#        console.log(document.querySelector("#myChart1"));#}
{#        console.log($("#myChart1").get(0));#}
{#        var ctx = $("#myChart1").get(0).getContext("2d");#}
{#        var myLineChart = new Chart(ctx).Line(data2, {responsive:true});#}
{#        var test = "#myChart2"#}
{#        var ctx2 = document.querySelector(test).getContext("2d");#}
{#        var myLineChart2 = new Chart(ctx2).Line(data2, {responsive:true});#}
{#                var ctx3 = $("#myChart3").get(0).getContext("2d");#}
{#        var myLineChart3 = new Chart(ctx3).Line(data2, {responsive:true});#}

        var charts = document.querySelectorAll('.progress-chart');
{#        console.log(typeof(charts));#}
{#        console.log(charts);#}
        var canvas = Array.prototype.slice.call(charts);


        $.get('{% url "enterprise.project.progress.data" %}', function (data){
            console.log(data);
            canvas.forEach(function (chart) {
                console.log(chart.id.substring(7));
                console.log(data[chart.id.substring(7)]);
                var eachData = data[chart.id.substring(7)];
                var data3 = Object.create(data2);
                data3.datasets[0].data=[eachData.submission, eachData.review, eachData.report, eachData.achievement, eachData.forms, eachData.vote]
                var ctx = document.querySelector("#"+chart.id).getContext("2d");
                var myLineChart = new Chart(ctx).Line(data3, {responsive:true});
            });
        });

    });

    </script>
{% endblock %}

{% block toolbar %}
<div class="btn-group">
  <a href="{% url "enterprise.project.add" %}" class="btn btn-default">{% trans "Create" %}</a>
  <a id="modify" href="#" class="btn btn-default">{% trans "Modify" %}</a>
  <a id="delete" href="#" class="btn btn-default">{% trans "Delete" %}</a>
</div>
{% endblock %}

{% block list %}
<table id="table" class="display table table-bordered">
    <thead>
        <th>{% trans "Project" %}</th>
        <th>{% trans "Vote Result" %}</th>
        <th>{% trans "Progress" %}</th>
    </thead>
    {% for p in projects %}
        <tr data-row-key="{{ p.id }}">
            <td><a href="{%  url 'enterprise.project.detail' p.id %}" class="hint--right" data-hint="{% trans 'Detail' %}">{{ p.name }}</a></td>
            <td>{{ p.id |vote_result }}</td>
            <td>
                <canvas id="myChart{{ p.id }}" class="progress-chart" width="100" height="30"></canvas>
            </td>
        </tr>
    {% endfor %}
</table>

{% endblock %}
