{% extends "base.html" %}
{% load i18n staticfiles%}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'reveal.js/css/reveal.min.css' %}">
    <link rel="stylesheet" href="{% static 'reveal.js/css/theme/default.css' %}" id="theme">
    <link rel="stylesheet" href="{% static 'medium-editor/dist/css/medium-editor.min.css' %}"> <!-- Core -->
    <link rel="stylesheet" href="{% static 'medium-editor/dist/css/themes/default.min.css' %}"> <!-- or any other theme -->
{% endblock %}

{% block extra_js %}
    <script src="{% static 'reveal.js/lib/js/head.min.js' %}"></script>
    <script src="{% static 'reveal.js/js/reveal.min.js' %}"></script>
    <script src="{% static 'medium-editor/dist/js/medium-editor.min.js' %}"></script>
    <script src="{% static 'jquery-cookie/jquery.cookie.js' %}"></script>

    <script>
    $(document).ready(function(){
        Reveal.initialize({
				history: true,
				transition: 'linear',
                // Display controls in the bottom right corner
                controls: true,

                // Display a presentation progress bar
                progress: true,
                // Transition style
                transition: 'default', // default/cube/page/concave/zoom/linear/fade/none,

				math: {
					// mathjax: 'http://cdn.mathjax.org/mathjax/latest/MathJax.js',
					config: 'TeX-AMS_HTML-full'
				},

				dependencies: [
					{ src: "{% static 'reveal.js/lib/js/classList.js' %}" },
					{ src: "{% static 'reveal.js/plugin/math/math.js' %}" , async: true }
				]
			});

        var elements = document.querySelectorAll('.editable'),
        editor = new MediumEditor(elements);

        $('.editable').on('input', function() {
          // Do some work
            var field_id = $(this).attr("id")
            var field_content = $(this).html()
            console.log(field_content);
            console.log(field_id);
{#            var parser = new DOMParser();#}
{#            var doc = parser.parseFromString(field_content, "application/xml");#}
            var csrf_token = $.cookie('csrftoken');
            $.post("{% url 'enterprise.review.summary' project_id%}",
                    {project_id:"{{ review.id }}", field_id:field_id, field_content:field_content, csrfmiddlewaretoken:csrf_token},
                    function(data){
                        console.log(data);
            })
        });

    });

    </script>
{% endblock %}

{% block content %}
    <div class="reveal">
        <div class="slides">
            <section>
                <h1>{% trans "Project General" %}</h1>
                <div class="editable" id="general">{{ review.general |safe}}</div>
            </section>
            <section>
                <h1>{% trans "Project Characteristic" %}</h1>
                <div class="editable" id="characteristic">{{ review.characteristic |safe}}</div>
            </section>
            <section>
                <h1>{% trans "Construct Management" %}</h1>
                <div class="editable" id="construct_management">{{ review.construct_management |safe}}</div>
            </section>
            <section>
                <h1>{% trans "Environment Protection Measure" %}</h1>
                <div class="editable" id="env_protection_measure">{{ review.env_protection_measure |safe}}</div>
            </section>
            <section>
                <section>
                    <h1>{% trans "Economize on raw materials" %}</h1>
                    <div class="editable" id="economize_materials">{{ review.economize_materials |safe}}</div>
                </section>
                <section>
                    <h1>{% trans "Economize on water" %}</h1>
                    <div class="editable" id="economize_waters">{{ review.economize_waters |safe}}</div>
                </section>
                <section>
                    <h1>{% trans "Economize on power" %}</h1>
                    <div class="editable" id="economize_powers">{{ review.economize_powers |safe}}</div>
                </section>
                <section>
                    <h1>{% trans "Economize on land" %}</h1>
                    <div class="editable" id="economize_land">{{ review.economize_land|safe }}</div>
                </section>
            </section>
            <section>
                <section>
                    <h1>{% trans "New Technology" %}</h1>
                    <div class="editable" id="new_technology">{{ review.new_technology|safe }}</div>
                </section>
                <section>
                    <h1>{% trans "New Equipment" %}</h1>
                    <div class="editable" id="new_equipment">{{ review.new_equipment|safe }}</div>
                </section>
                <section>
                    <h1>{% trans "New Materials and  Craft" %}</h1>
                    <div class="editable" id="new_craft">{{ review.new_craft |safe}}</div>
                </section>
            </section>
            <section>
                <h1>{% trans "Industrialization of construction industry" %}</h1>
                <div class="editable" id="industrialization">{{ review.industrialization|safe }}</div>
            </section>
            <section>`
                <h1>{% trans "Comprehensive Benefit" %}</h1>
                <div class="editable" id="comprehensive_benefit">{{ review.comprehensive_benefit |safe}}</div>
            </section>
        </div>
    </div>
{% endblock %}