{% extends "list_base.html" %}
{% load i18n %}

{% block toolbar %}
<div class="btn-group">
  <a href="{% url "enterprise.project.add" %}" class="btn btn-default">{% trans "Create" %}</a>
  <a href="{% url "login" %}" class="btn btn-default">{% trans "Modify" %}</a>
  <a href="{% url "login" %}" class="btn btn-default">{% trans "Delete" %}</a>
</div>
{% endblock %}

{% block list %}
<table class="table table-hover table-bordered">
    <thead>
        <th>{% trans "Project" %}</th>
        <th>{% trans "Grade" %}</th>
        <th>{% trans "Location" %}</th>
    </thead>
    {% for p in projects %}
        <tr>
            <td>{{ p.project.name|upper }}</td>
            <td>{{ p.grade }}</td>
            <td>{{ p.location }}</td>
        </tr>
    {% endfor %}
</table>
{% endblock %}
