{% extends "list_base.html" %}
{% load i18n staticfiles%}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'messenger/build/css/messenger.css' %}">
    <link rel="stylesheet" href="{% static 'messenger/build/css/messenger-theme-future.css' %}">
<style>
.table-hover tbody tr.highlight td {
    background-color:  #428bca;
}
</style>
{% endblock %}

{% block extra_js %}
    <script src="{% static 'jquery-cookie/jquery.cookie.js' %}"></script>
    <script src="{% static 'messenger/build/js/messenger.min.js' %}"></script>
    <script src="{% static 'messenger/build/js/messenger-theme-future.js' %}"></script>
    <script src="{% static 'lodash/dist/lodash.min.js' %}"></script>
<script>
    var rowId;
    function commit(){
        console.log(rowId);
        if (_.isUndefined(rowId)){
            Messenger().post({
              message: "{% trans 'Please select submission.' %}",
              type: "error",
              showCloseButton:true
            })
            return;
        }
        console.log(_.isUndefined(rowId));
        var csrf_token = $.cookie('csrftoken');
        console.log(csrf_token);
        $.post("{% url 'enterprise.submission.commit'%}",{project_id:rowId, csrfmiddlewaretoken:csrf_token },function(data){
            message = "{% trans 'Submission committed successfully' %}"
            msg_level = "success"
            if (data.indexOf("OK") == -1){
                message = data
                msg_level = "error"
            }
            console.log(message);
            Messenger().post({
              message: message,
              type: msg_level,
              showCloseButton:true
            })
        })
    }

    $(document).ready(function(){
        $('#projects.table-hover tr').click(function() {
            rowId = $(this).data("rowKey");
            $(this).addClass('highlight').siblings().removeClass('highlight');
{#            console.log(rowId);#}
        });

{#    $('#mytable').on('click', 'tbody tr', function(event) {#}
{#        $(this).addClass('highlight').siblings().removeClass('highlight');#}
{#        console.log(rowId);#}
{#        var test = $(this).data("rowKey");#}
{#        console.log(test);#}
{#    });#}
    });
</script>
{% endblock %}

{% block toolbar %}
<div class="btn-group">
  <a href="{% url "enterprise.submission.add" %}" class="btn btn-default">{% trans "Create" %}</a>
  <a href="{% url "login" %}" class="btn btn-default">{% trans "Modify" %}</a>
  <a href="{% url "login" %}" class="btn btn-default">{% trans "Delete" %}</a>
  <a href="#" class="btn btn-default" onclick="commit();return false;">{% trans "Submit" %}</a>
</div>
{% endblock %}

{% block list %}
<table id="projects" class="table table-hover table-bordered" >
    <thead>
        <th>{% trans "Project" %}</th>
        <th>{% trans "Grade" %}</th>
        <th>{% trans "Date" %}</th>
    </thead>
    <tbody>
        {% for p in projects %}
            <tr data-row-key="{{ p.id }}">
                {# Each "submission" is a Submission model object. #}
                <td><a href="{%  url 'enterprise.project.detail' p.project.id %}" class="hint--right" data-hint="{% trans 'Detail' %}">{{ p.project.name }}</a></td>
                <td>{{ p.grade}}</td>
                <td>{{ p.date }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
